<h2>List users Table</h2>

<form action="/create-user/" method="GET" class="btn-add">
    <button type="submit">Add</button>
</form>

<table class="w3-table-all w3-hoverable">
    <thead>
    <tr class="w3-light-grey">
        <th>ID</th>
        <th>User Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < dataUser.length ; i++) { %>
        <tr>
            <td>
                <%= dataUser[i].id %>
            </td>
            <td>
                <%= dataUser[i].username %>
            </td>
            <td>
                <%= dataUser[i].address %>
            </td>
            <td style="display: flex; gap: 15px;">
                <form action="/detail-user/<%= dataUser[i].id %>" method="GET">
                    <button type="submit">Detail</button>
                </form>

                <form action="/edit-user/<%= dataUser[i].id %>" method="GET">
                    <button type="submit">Edit</button>
                </form>

                <form action="/delete-user" method="POST">
                    <input type="text" hidden value="<%= dataUser[i].id %>" name="userId"/>
                    <button type="submit" id="btn-delete" onclick="function notifyDelete(){
                        Toastify({
                            text: 'Delete User Success',
                            className: 'info',
                            position: 'right',
                            gravity: 'bottom',
                            style: {
                            background: 'linear-gradient(to right, #00b09b, #96c93d)',
                            }
                            }).showToast();
                    }; notifyDelete(); setTimeout(() => {
                        location.reload();
                    }, 1000)"> Delete
                    </button>
                </form>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>

